<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./style/css.css" />
    <script
      src="https://kit.fontawesome.com/2441a3b8e4.js"
      crossorigin="anonymous"
    ></script>
    <title>TGIF 113th Congress Senate Members</title>
  </head>

  <body>
    <div class="container">
      <!--Header-->
      <header class="py-3">
        <div class="row justify-content-between align.items-center">
          <div class="col-sm-4">
            <a href="index.html"
              ><img
                src="./images/LOGOTGIF.jpg"
                class="img-fluid"
                alt="Logo TGIF"
            /></a>
          </div>
          <div class="col-sm-4 text-right">
            <!-- <a href="mailto:info@tgif.net"
              ><i class="fas fa-envelope"></i> info@tgif.net</a
            > -->
          </div>
        </div>
      </header>
      <!--Header-->

      <!--Navbar-->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light border my-3 sticky-top"
      >
        <!-- Navbar brand -->
        <a class="navbar-brand" href="index.html">TGIF</a>

        <!-- Collapse button -->

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle active"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Congress 113</a
              >
              <div
                class="dropdown-menu dropdown-primary"
                aria-labelledby="navbarDropdown"
              >
                <a class="dropdown-item" href="house.html">House</a>
                <a class="dropdown-item active" href="senate.html">Senate</a>
              </div>
            </li>

            <!-- Dropdown Attendance -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Attendance</a
              >
              <div
                class="dropdown-menu dropdown-primary"
                aria-labelledby="navbarDropdown"
              >
                <a class="dropdown-item" href="attendance_house.html">House</a>
                <a class="dropdown-item" href="attendance_senate.html"
                  >Senate</a
                >
              </div>
            </li>

            <!-- Dropdown Party Loyalty -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Party Loyalty</a
              >
              <div
                class="dropdown-menu dropdown-primary"
                aria-labelledby="navbarDropdown"
              >
                <a class="dropdown-item" href="loyalty_house.html">House</a>
                <a class="dropdown-item" href="loyalty_senate.html">Senate</a>
              </div>
            </li>
          </ul>
          <!-- Links -->

          <span class="navbar-text">
            Contact us >
            <a href="mailto:info@tgif.net"
              ><i class="fas fa-envelope"></i> info@tgif.net</a
            >
          </span>
          <!-- Collapsible content -->
        </div>
      </nav>
      <!--Navbar-->

      <!--Table container-->
      <div>
        <div class="row">
          <div class="col-md-8">
            <h2>Senators</h2>
            <p>
              First convened in 1789, the composition and powers of the Senate
              are established in Article One of the U.S. Constitution. Each
              state is represented by two senators, regardless of population,
              who serve staggered six-year terms. The Senate has several
              exclusive powers not granted to the House, including consenting to
              treaties as a precondition to their ratification and consenting to
              or confirming appointments of Cabinet secretaries, federal judges,
              other federal executive officials, military officers, regulatory
              officials, ambassadors, and other federal uniformed officers, as
              well as trial of federal officials impeached by the House.
            </p>
          </div>
        </div>
        <div id="vue-table">
          <div class=" row form-group mb-3">
            <div class="col-md-8">
              <div class="form-check form-check-inline">
                Filter by Party:
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="dem"
                  value="D"
                  name="dri"
                  checked
                  v-model="partyValues"
                />
                <label class="form-check-label" for="dem">Democrats</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="rep"
                  value="R"
                  name="dri"
                  checked
                  v-model="partyValues"
                />
                <label class="form-check-label" for="rep">Republicans</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="ind"
                  value="I"
                  name="dri"
                  checked
                  v-model="partyValues"
                />
                <label class="form-check-label" for="ind">Indipendents</label>
              </div>
              <span>Checked party: {{ partyValues }}</span>
            </div>
            <div class="col-md-4 form-inline justify-content-end">
              <div class="form-check form-check-inline">
                Filter by State:
              </div>
              <div class="form-check form-check-inline">
                <select class="custom-select scrollable-menu" id="listState">
                  <option value="all" selected>All states</option>
                  <option
                    v-for="senator in filterEngine"
                    v-bind:value="senator.state"
                  >
                    {{ senator.state }}</option
                  >
                </select>
              </div>
            </div>
          </div>
          <!-- !no data to fetch and no loading bar necessary
          <div class="progress my-3">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
              id="progress"
            ></div>
          </div>
          -->

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Senator</th>
                <th>Party affiliation</th>
                <th>State</th>
                <th>Years in Office</th>
                <th>% Votes w/ Party</th>
              </tr>
            </thead>

            <tbody id="tableBody" class="my-3">
              <tr v-for="senator in filterEngine">
                <td>
                  <a v-bind:href="senator.url">
                    {{ senator.last_name }}, {{ senator.middle_name }}
                    {{ senator.first_name }}</a
                  >
                </td>
                <td>{{ senator.party }}</td>
                <td>{{ senator.state }}</td>
                <td>{{ senator.seniority }}</td>
                <td>{{ senator.votes_with_party_pct }} %</td>
              </tr>
              <tr id="uncheckedAlert"></tr>
            </tbody>
          </table>
        </div>
        <a
          id="back-to-top"
          href="#"
          class="btn btn-light btn-lg back-to-top"
          role="button"
          ><i class="fas fa-chevron-up"></i
        ></a>
      </div>
      <!--Table container-->

      <!-- Footer https://mdbootstrap.com/docs/jquery/navigation/footer/-->
      <footer class="page-footer font-small bg-light border my-3">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          © TGIF 2019 |
          <a href="#"> All Rights Reserved</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
    <!-- Container -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="./local_data/pro-Congress-senate.js"></script>
    <!--<script src="fetching-data-senate.js"></script>-->
    <!--<script src="main.js"></script>-->
    <script src="./vue-main-senate.js"></script>
  </body>
</html>
